<div class="layout-topbar">
    <div class="layout-topbar-logo-container">
        <a class="layout-topbar-logo" routerLink="/">
            <svg id="Ebene_2" data-name="Ebene 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270.5 270.5">
                <defs>
                    <style>
                        .cls-1 {
                            fill: var(--primary-color);
                            stroke-width: 0px;
                        }
                    </style>
                </defs>
                <g id="Ebene_1-2" data-name="Ebene 1">
                    <g>
                        <path
                            class="cls-1"
                            d="M154.87,270.5h-39.23c-14.04,0-25.46-11.42-25.46-25.46v-63.2c0-.83-.68-1.51-1.51-1.51H25.46c-14.04,0-25.46-11.42-25.46-25.46v-39.23c0-14.04,11.42-25.46,25.46-25.46h63.2c.83,0,1.51-.68,1.51-1.51V25.46c0-14.04,11.42-25.46,25.46-25.46h39.23c14.04,0,25.46,11.42,25.46,25.46v63.2c0,.83.68,1.51,1.51,1.51h63.2c14.04,0,25.46,11.42,25.46,25.46v39.23c0,14.04-11.42,25.46-25.46,25.46h-63.2c-.83,0-1.51.68-1.51,1.51v63.2c0,14.04-11.42,25.46-25.46,25.46ZM25.46,100.17c-8.53,0-15.46,6.94-15.46,15.46v39.23c0,8.53,6.94,15.46,15.46,15.46h63.2c6.35,0,11.51,5.16,11.51,11.51v63.2c0,8.53,6.94,15.46,15.46,15.46h39.23c8.53,0,15.46-6.94,15.46-15.46v-63.2c0-6.35,5.16-11.51,11.51-11.51h63.2c8.53,0,15.46-6.94,15.46-15.46v-39.23c0-8.53-6.94-15.46-15.46-15.46h-63.2c-6.35,0-11.51-5.16-11.51-11.51V25.46c0-8.53-6.94-15.46-15.46-15.46h-39.23c-8.53,0-15.46,6.94-15.46,15.46v63.2c0,6.35-5.16,11.51-11.51,11.51H25.46Z"
                        />
                        <circle class="cls-1" cx="135.25" cy="135.25" r="33.87" />
                        <path class="cls-1" d="M127.07,34.19l-10.94,18.95c-3.63,6.3.91,14.17,8.18,14.17h21.88c7.27,0,11.81-7.87,8.18-14.17l-10.94-18.95c-3.63-6.3-12.72-6.3-16.36,0Z" />
                        <path class="cls-1" d="M143.43,236.5l10.94-18.95c3.63-6.3-.91-14.17-8.18-14.17h-21.88c-7.27,0-11.81,7.87-8.18,14.17l10.94,18.95c3.63,6.3,12.72,6.3,16.36,0Z" />
                        <path class="cls-1" d="M34.18,143.43l18.95,10.94c6.3,3.63,14.17-.91,14.17-8.18v-21.88c0-7.27-7.87-11.81-14.17-8.18l-18.95,10.94c-6.3,3.63-6.3,12.72,0,16.36Z" />
                        <path class="cls-1" d="M236.05,127.07l-18.95-10.94c-6.3-3.63-14.17.91-14.17,8.18v21.88c0,7.27,7.87,11.81,14.17,8.18l18.95-10.94c6.3-3.63,6.3-12.72,0-16.36Z" />
                    </g>
                </g>
            </svg>
            <span class="text-primary font-bold">GoodGamesDB</span><span style="font-size: 1rem; margin-top: 1px" class="font-bold">4.0 Beta</span>
        </a>
    </div>

    <div class="layout-topbar-actions">
        <div class="layout-config-menu">
            <div class="relative">
                <app-configurator />
            </div>
        </div>
        <div class="layout-topbar-menu hidden lg:block">
            <div class="layout-topbar-menu-content">
                <button type="button" class="layout-topbar-action" (click)="openDashboard()">
                    <i class="pi pi-home"></i>
                    <span>Home</span>
                </button>
                <button type="button" class="layout-topbar-action" (click)="openOverview()">
                    <i class="pi pi-database"></i>
                    <span>Entries</span>
                </button>
                <button type="button" class="layout-topbar-action">
                    <i class="pi pi-plus-circle"></i>
                    <span>Add</span>
                </button>
                <button type="button" class="layout-topbar-action">
                    <i class="pi pi-eye"></i>
                    <span>Filter</span>
                </button>
                <button type="button" class="layout-topbar-action" (click)="logout()">
                    <i class="pi pi-power-off"></i>
                    <span>Logout</span>
                </button>
            </div>
        </div>
    </div>
</div>
