<div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6">
    <ng-container *ngFor="let item of groupedGameRecords">
        <ng-container *ngIf="item.year !== null">
            <div class="col-span-full">
                <app-yearly-line-break [year]="item.year" [count]="item.yearCount"> </app-yearly-line-break>
            </div>
        </ng-container>

        <app-entry-card class="h-full" [gameRecord]="item.gameRecord"></app-entry-card>
    </ng-container>
</div>
<div><br /><br /><br /></div>
